---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "About Me";
export async function handleRequest(request, params) {
    if (request.method === 'POST') {
      try {
        const formData = await request.formData();
        const name = formData.get('username');
        const email = formData.get('email');
        const message = formData.get('message');
        console.log(`Name: ${name}, Email: ${email}, Message: ${message}`);
        
        // Return a response with a success message
        return {
          status: 200,
          body: 'Thank you for your message!',
        };
      } catch (error) {
        console.error('Error handling form submission:', error);
        return {
          status: 500,
          body: 'Internal Server Error',
        };
      }
    }
  }

---
<Layout pageTitle={pageTitle}>
    <div class="img center">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/404.webp"/>
    </div>
    <center><img src="/skydiving.JPG" width="500" class="center"></center>
    <h4>Skydiving near the Duke Marine Lab, November 2024</h4>

    <h2>About Me</h2>
    <p>I've loved animals and computer science since I was young but never really knew what to do with those interests until coming to college and being fascinated by 
        scientific research. Hopefully this website is some indication I'm on the way to realizing my childhood dreams. 
    </p>
    <p>
        I also don't really want this website to just be a nicer looking version of my CV. I enjoy trying new things
        and pursuing my hobbies. I've been playing basketball in some capacity since I was a toddler, and I started reading about metaphysics
        and existentialist philosophy in college. There is grandeur in this view of life! :P
    </p>
    <img src="/mazulla.png" width="400" class="center">
    <h4>Do I contradict myself?
        Very well then I contradict myself,
        (I am large, I contain multitudes.)
        - Walt Whitman (and Mazulla, probably)</h4>
    <div></div>

    <h3>Research Interests</h3>
    <p>
        The bulk of my research experience is in population genetics, bioinformatics, and artificial intelligence. 
        I am also fascinated by everything about evolutionary biology, and I enjoy thinking about the philosophy of science. I have some background working in computer vision,
        community ecology, global change biology, statistical modeling, and eDNA metabarcoding analysis. 
    </p>
    <p>
        From a broad, question-based perspective, I want to understand how organisms are able to adapt to their environments as well as the factors which
        gave rise to the immense biodiversity seen across the tree of life. I'm interested in elucidating the
        genetic basis of evolutionary mechanisms such as speciation and selection, both across ecological and evolutionary
        timescales. 
    </p>
    <img src="/octopus.jpg" width="400" class="center" about="Bryan Burgos, Unsplash">
    <h4>Brian Burgos, Unsplash</h4>
    <p>
        I am passionate about the application of new software tools in biology, and 
        finding ways to incorporate and evaluate these tools alongside traditional approaches to extract new findings from biological data. 
        I aim to combine field, lab, and software work through a holistic approach to conducting scientific research.
        Please feel free to reach out at <a href="mailto:hs325@duke.edu">hs325@duke.edu</a> or through the form below! 
    </p>    
   <div></div>
    <h3>
        Hobbies
    </h3>
    <p>
        Games: Basketball, <s>soccer</s> football*, baseball, table tennis, competitive Scrabble, typing?
    </p>
    <div class="img center">
    <a href="https://data.typeracer.com/pit/profile?user=bagnana&ref=badge" target="_top"><img src="https://data.typeracer.com/misc/badge?user=bagnana" alt="TypeRacer.com scorecard for user bagnana"/></a>
    </div>
    <p>
        Favorite Music: experimental and underground hip-hop, glitch pop, hyperpop, indie rock, singer-songwriter, shoegaze, dream pop. 
        See <a href="https://henrysun.netlify.app/personal/">Personal</a> for more.
    </p>
    <p>
        Miscellaneous: Chinese cooking, metaphysics, the color purple, being outdoors with animals of all kinds, Internet culture, stargazing, Pokemon, and web development now I guess...
    </p>
    <div></div>
    <img src="/IMG_6419.JPG" width="300" class="center">
    <h4>While I would like to consider it as a hobby of mine, I don't think I'm very artistically inclined. Here's a right whale though.</h4>
    <div></div>

    <h2>Contact
    </h2>
    <p>
        Right now, this form is kind of broken. Hoping to get the server-side handling fixed soon. 
        Instead, I recommend directing all inquires to my email (see the site footer).
    </p>
    <form class="contact-form" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
        <button>Send</button>
    </form>
        
</Layout>

<style>
    h1 {
        text-align: left;
        font-family: 'Courier New', Courier, sans serif; 
    }
    h2 {
        text-align: left;
        font-family: 'Courier New', sans serif; 
        margin-bottom: 1em; 
    }
    /* h3 {
        display: block;
        font-family: 'Courier New', sans serif; 
        font-size: 1.2em;
        font-weight: normal;
        unicode-bidi: isolate;
} */
    h4 {
        text-align: center;
        font-family: 'Papyrus', cursive; 
        font-weight: normal;
        margin-bottom: 1em; 
    }
    p {
        text-align: left;
        font-family: 'Josefin Sans', cursive; 
        margin-bottom: 1em; 
    }
    .center {
        text-align: center;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* width: 50%; */
    }
    div {
        padding: 5px;
    }
</style>