---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "About Me";
export async function handleRequest(request, params) {
    if (request.method === 'POST') {
      try {
        const formData = await request.formData();
        const name = formData.get('username');
        const email = formData.get('email');
        const message = formData.get('message');
        console.log(`Name: ${name}, Email: ${email}, Message: ${message}`);
        
        // Return a response with a success message
        return {
          status: 200,
          body: 'Thank you for your message!',
        };
      } catch (error) {
        console.error('Error handling form submission:', error);
        return {
          status: 500,
          body: 'Internal Server Error',
        };
      }
    }
  }

---
<Layout pageTitle={pageTitle}>
    <div class="img center">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/404.webp"/>
    </div>
    <h2>About Me</h2>
    <p>
        I was pretty confident about wanting to be a scientist of some kind since I was young. Fish were my favorite
        animals and I'd stare over the railings at every body of water searching for signs of life. 
        I also enjoyed catching crickets and other bugs and observing birds in my neighborhood. I'm trying to get better at herping as well. But in addition
        to touching grass, I also really enjoyed computers, learning typing from Mavis Beacon and playing
        Coolmath Games in the computer lab at school. Over a decade later, I'm still sticking with these two interests and trying to make
        a career out of them. I am a terminally online-outside hybrid! Hopefully this website is some indication
        I'm on the way to realizing my childhood dreams. 
    </p>
    <p>
        I also don't really want this website to just be a nicer looking version of my CV. I enjoy trying new things
        and pursuing my hobbies. I've been playing basketball in some capacity since I was a toddler, and I started reading about metaphysics
        and existentialist philosophy in college. I'm working on creating some comma-separated list of interests and implementing that throughout this site.
        While this certainly won't be a blog that's constantly updated, 
        I'd like to be able to look at my website and feel like I'm firing on all cylinders. 
        There is grandeur in this view of life! :P
    </p>
    <img src="/my_imgs/mazulla.png" width="500" class="center">
    <h4>Do I contradict myself?
        Very well then I contradict myself,
        (I am large, I contain multitudes.)
        - Walt Whitman (and Mazulla, probably)</h4>
    <div></div>

    <h3>Research Interests</h3>
    <p>
        The bulk of my research experience and interests are in population genetics, bioinformatics, 
        and artificial intelligence. My other research interests include the philosophy of biology 
        (evolutionary theory and reductionism in particular), computer vision, generative artificial intelligence, 
        icthyology, global change biology, statistical modeling, and eDNA metabarcoding analysis. 
    </p>
    <p>
        I want to understand how organisms are able to adapt to their environments as well as the factors which
        gave rise to the immense biodiversity seen across the tree of life. I'm interested in elucidating the
        genetic basis of evolutionary mechanisms such as speciation and selection, both across ecological and evolutionary
        timescales. 
    </p>
    <p>
        From a broader perspective, I am passionate about the application of new software tools in marine biology, and 
        finding ways to incorporate and evaluate these tools alongside traditional approaches to extract new findings from biological data. 
        I aim to combine field, lab, and computer work through a holistic approach to conducting scientific research.
        Please feel free to reach out at hs325[at]duke.edu or through the form below! 
    </p>
   <div></div>
    <h3>
        Hobbies
    </h3>
    <p>
        Games: Basketball, <s>soccer</s> football*, baseball, table tennis, competitive Scrabble
    </p>
    <p>
        Favorite Music: experimental and underground hip-hop, glitch pop, hyperpop, indie rock, singer-songwriter, shoegaze, dream pop. 
        See <a href="https://henrysun.netlify.app/personal/">Personal</a> for more.
    </p>
    <p>
        Miscellaneous: Chinese cooking, metaphysics, the color purple, being outdoors with animals of all kinds, Internet culture, stargazing, Pokemon, and web development now I guess...
    </p>
    <div></div>

    <h2>Contact
    </h2>
    <p>
        Right now, this form is kind of broken. Hoping to get the server-side handling fixed soon. 
        Instead, I recommend directing all inquires to my email (see the site footer).
    </p>
    <form class="contact-form" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
        <button>Send</button>
    </form>
        
</Layout>

<style>
    h1 {
        text-align: left;
        font-family: 'Courier New', Courier, sans serif; 
    }
    h2 {
        text-align: left;
        font-family: 'Courier New', sans serif; 
        margin-bottom: 1em; 
    }
    /* h3 {
        display: block;
        font-family: 'Courier New', sans serif; 
        font-size: 1.2em;
        font-weight: normal;
        unicode-bidi: isolate;
} */
    p {
        text-align: left;
        font-family: 'Josefin Sans', cursive; 
        margin-bottom: 1em; 
    }
    .center {
        text-align: center;
    }
    h4 {
        text-align: left;
        font-family: 'Courier', fantasy; 
        text-align: center;
        font-size: 18px;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* width: 50%; */
    }
    div {
        padding: 6px;
    }
</style>