---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Cool Animal Finds";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="250" src="/404.webp"/>
    </div>
    <h1>Cool Animal Finds</h1>

    <p>I recently started an iNaturalist page that I'm doing my best to keep updated:</p>

<style type="text/css" media="screen">
.inat-widget { font-family: "Trebuchet MS"; padding: 10px; line-height: 1;}
.inat-widget-header {margin-bottom: 10px;}
.inat-widget td {vertical-align: top; padding-bottom: 10px;}
.inat-label { color: #888; }
.inat-meta { font-size: smaller; margin-top: 3px; line-height: 1.2;}
.inat-observation-body, .inat-user-body { padding-left: 10px; }
.inat-observation-image {text-align: center;}
.inat-observation-image, .inat-user-image { width: 48px; display: inline-block; }
.inat-observation-image img, .inat-user-image img { max-width: 48px; }
.inat-observation-image img { vertical-align: middle; }
.inat-widget-small .inat-observation-image { display:block; float: left; margin: 0 3px 3px 0; height:48px;}
.inat-label, .inat-value, .inat-user { font-family: "Helvetica Neue", Arial, sans-serif; }
.inat-user-body {vertical-align: middle;}
.inat-widget td.inat-user-body {vertical-align: middle;}
.inat-widget .inat-footer td.inat-value {vertical-align: middle; padding-left: 10px;}
</style>
<div class="inat-widget">
    <div class="inat-widget-header">
      <a href="https://www.inaturalist.org"><img alt="iNaturalist" src="https://www.inaturalist.org/assets/logo-small-white.png" /></a>  
    </div>
  <script type="text/javascript" charset="utf-8" src="https://www.inaturalist.org/observations/henrysun9074.widget?layout=large&limit=20&order=desc&order_by=observed_on"></script>
  <table class="inat-footer">
    <tr class="inat-user">
        <td class="inat-user-image">
          <a href="https://www.inaturalist.org/observations/henrysun9074"><img class="usericon" src="https://static.inaturalist.org/attachments/users/icons/9709454/2f83bd9d4cb6b6218e3d28cccd7d68ee-thumb.jpeg?1757256022" /></a>
        </td>
      <td class="inat-value">
        <strong>
            <a href="https://www.inaturalist.org/observations/henrysun9074">View henrysun9074's observations »</a>
        </strong>
      </td>
    </tr>
  </table>
</div>


</Layout>
