---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Cool Animal Finds";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="250" src="/404.webp"/>
    </div>
    <h1>Cool Animal Finds</h1>
    <p>Photo diary on the way.</p>
    <!-- Add more content about cool animals here -->
</Layout>
