---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Cool Animal Finds";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="250" src="/404.webp"/>
    </div>
    <h1>Cool Animal Finds</h1>
    <p>Photo diary on the way as well as a tierlist of all relevant animals. Don't expect much, I just take bad photos with an iPhone.</p>
    <p>In the meantime: read about <a href="https://www.vox.com/2014/4/24/5640890/otters-rape-baby-seals-monsters-bad">why sea otters are evil.</a></p>
    <!-- Add more content about cool animals here -->
</Layout>
