---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Basketball";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="250" src="/404.webp"/>
    </div>

    <h1>Basketball</h1>
    <p>I'm from Maryland so for some reason I support the "Washington Wizards". Stay tuned for the end of the 2024 NBA season for 100% accurate free agent analysis, advanced stats, playoff reactions, and some other shenanigans.</p>

    <div class = center>
        <img width="300" height="250" src="/vitaminjak.jpg"/>
     </div>
     <p>As for playing basketball: I've been hooping since I was young. Nowadays I want to be able to dunk (I'm 5'10). But that would require a lot of effort to train, just like one of those motivational YouTube videos. 
        If I do eventually devote the time, this page will be the first to know.</p>
</Layout>
