<!-- ---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Get in Touch";
---
<Layout pageTitle={pageTitle}>
    <div class="img">
        <img width="300" height="250" alt="RaccoonLaptopGif" src="/404.webp "/>
    </div>
    <h2>Get in Touch</h2>
    <p>
        Email: hs325[at]duke.edu
    </p>
    <p>
        Cell: (301) 728 1010   
    </p>
</Layout> -->