---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Cooking";
---
<Layout pageTitle={pageTitle}>
    <h1>Cooking</h1>
    <p>WHO LET HIM COOK?!</p>
    <!-- Add more content about cooking here -->
</Layout>
