---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Cooking";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="250" src="/404.webp"/>
    </div>
    <h1>Cooking</h1>
    <p>WHO LET HIM COOK?!</p>
    <p>I mostly make Chinese food. I'm going to put my biggest successes and fails on here sometime :D</p>
    <!-- Add more content about cooking here -->
</Layout>
