---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Cooking";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="250" src="/404.webp"/>
    </div>
    <h1>Cooking</h1>
    <p>I mostly make Chinese food. I'm going to put my biggest successes and fails on here sometime later :D.
        For making Chinese food I don't think I've ever really followed a recipe. I trust in my ancestors and Chef Wang Gang's YouTube tutorials.
        So no recipes on this website -- just photos and vibes. Here, have a photo of some 白菜豆腐
        and US politics. A great combination.
    </p>
    <div class = center>
        <img width="400" src="/food.png"/>
     </div>

    <!-- Add more content about cooking here -->
</Layout>
