---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Henry Sun";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>I'm Henry (he/him)</h1>

    <span class="badge">Student (mostly)</span>
    <div>
        
    </div>
    <p>
        I am an undergraduate fourth-year at Duke University graduating Spring 2025 with a B.S
        in Biology and Marine Science and Conservation, and a minor in Computer Science. Now, I am <s>exploring</s>  
        <s>applying for</s>
        waiting to hear back from (!) PhD programs 
        with a research focus centered around marine biodiversity, 
        population genomics, evolutionary biology, and 
        machine learning. 
    </p>
    <div class="center">
        <a href="/research/">
            <button class="btn">My Research</button>
        </a>
    </div>
    <div></div>
    <h2>Computational Skills</h2>

    <div class="skills center">
        <img class="skills__img" width="40" height="40" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="40" height="40" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="40" height="40" alt="Java" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg"/>
        <img class="skills__img" width="40" height="40" alt="Anaconda" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/anaconda/anaconda-original.svg"/>
        <img class="skills__img" width="40" height="40" alt="C" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg"/>
        <img class="skills__img" width="40" height="40" alt="Keras" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/keras/keras-original.svg"/>
        <img class="skills__img" width="40" height="40" alt="Unix/Bash" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bash/bash-original.svg" />
        <img class="skills__img" width="40" height="40" alt="Rstudio" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rstudio/rstudio-original.svg"/>
        <img class="skills__img" width="40" height="40" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>

    <div></div>
    <h2>Latest Updates</h2>
    <p>
        <b>Winter 2024:</b> I submitted all my graduate school applications O.o... excited for what is to come!
    </p>
    <p>
        As for the website - the research pages are kind of outdated and haven't been touched since summer. Unfortunately, I always put off updating
        the site during the fall (and probably will do the same this spring) so I'm now hoping to overhaul it after graduation with synopses of completed undergraduate research projects
        and some interesting personal pages. I also edit my CV like twice a day while procrastinating so updating it on the site feels kind of pointless - that will probably be a post-graduation endeavor as well.
    </p>
    <p>
        Right now, I'm going to update the music page after being bombarded by year-end lists and Spotify Wrapped, and maybe put some new photos up on the site.
        I'm also aiming to get + stay involved in more opportunities related to scientific outreach and teaching during my last year of undergrad. 
        I <i>will</i> update my website eventually with more information because so far, this has been going well!
    </p>
   
</Layout>

<style>
    .skills {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .skills__img {
        margin: 5px;
    }
    .gif {
        text-align: center;
    }
    h1 {
        text-align: left;
        font-family: 'Courier New', Courier, monospace; 
        /* margin-bottom: 1.5em;  */
    }
    h2 {
        text-align: left;
        font-family: Courier New, cursive; 
        margin-bottom: 1em; 
    }
    p {
        text-align: left;
        font-family: Josefin Sans, cursive; 
        margin-bottom: 1em; 
    }
    /*  p {
        text-align: left;
        font-family: Josefin Sans, sans serif; /* or any other font you prefer */
    } */
    .center {
        text-align: center;
    }
    /* .badge, .btn {
        display: block;
        margin: 10px auto;
        text-align: center;
    } */
    div {
        padding: 5px;
    }
</style>
