---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Milky-Way";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Henry Sun</h1>
    <span class="badge">Digital Craftsman (Developer)</span>
    <h2>About</h2>
    <p>
        Rising undergraduate fourth-year at Duke University graduating Spring 2025 with a B.S
        in Biology and Marine Science and Conservation. Currently exploring PhD opportunities 
        with a research focus centered around marine biodiversity, population genomics, evolutionary biology, and 
        machine learning.
    </p>
    <p>
        My other research interests include bioinformatics, evolutionary theory, computer vision, icthyology, global change biology,
        and eDNA metabarcoding. In general, I am curious about the application of new software tools in marine biology.
        Feel free to reach out at hs325[at]duke.edu.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Java" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javas/java-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Anaconda" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/anaconda/anaconda-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="C" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg"/>

    </div>
    <h2>Interests</h2>
    <p>
        Test
    </p>
</Layout>

