---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Henry Sun";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>I'm Henry (he/him)</h1>

    <span class="badge">Student (mostly)</span>
    <div>
        
    </div>
    <center><img src="/profile.jpeg" width="400" class="center"></center>

    <p>
        I am a first-year PhD student at the <a href="https://nicholas.duke.edu/marinelab">Duke University Marine Lab</a> under the supervision of <a href="https://sites.duke.edu/wonglab/">Dr. Juliet Wong</a>.
    I graduated in May 2025, also from Duke, with a B.S in Marine Science and Conservation and a B.S. in Biology. As an undergraduate, I was a <a href ="https://nicholas.duke.edu/marinelab/academics/undergraduate/rachel-carson-scholars-program">Rachel Carson Scholar</a>
    and a <a href ="https://ncspacegrant.ncsu.edu/2024/06/25/nc-space-grant-congratulates-2024-25-undergraduate-research-scholars/">North Carolina Space Grant Undergraduate Scholar</a>. 
    I worked on a variety of research projects in undergrad, and completed a senior thesis with the <a href="https://marineuas.net/new/">Marine Robotics and Remote Sensing (MaRRS) Lab</a> under 
    the supervision of Dr. Dave Johnston on the use of diffusion-based generative AI to create synthetic whale imagery. My current research interests include adaptation, plasticity, population genetics, invertebrate zoology, and as always,
    applied machine learning. Please reach out if you're keen!
    </p>
    <div class="center">
        <a href="/research/">
            <button class="btn">My Research</button>
        </a>
    </div>
    <div></div>

    <div></div>
    <h2>Small Milestones</h2>
    <p>
        <b>August 2025:</b> Moved back to North Carolina to begin PhD!
    </p>
    <p>
        <b>June 2025:</b> Started summer position at Rutgers Cape Shore Lab under Sam Ratcliff and Dr. Ximing Guo.
    </p>
    <p>
        <b>May 2025:</b> Graduated from undergrad and finally started updating this website.
    </p>
    <p>
        <b>April 2025:</b> Presented on fake whales at SEAMAMMS (Jacksonville, FL), submitted my honors thesis and somehow was awarded an NSF GRFP.
    </p>
    <p>
        <b>March 2025:</b> Presented on eDNA and ML at ASLO (Charlotte, NC).
    </p>
    <p>
        <b>December 2024:</b> Submitted all my graduate school applications O.o... excited for what is to come!
    </p>
    <p>
        <b>November 2024:</b> Presented on blue crabs at WSN (Portland, OR) and fake whales at NC Sea Grant (New Bern, NC).
    </p>
    <p>
        <b>July 2024:</b>  The website is born!!
    </p>
    <div></div>

    <h2>Computational Skills</h2>

    <div class="skills center">
        <img class="skills__img" width="40" height="40" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="40" height="40" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="40" height="40" alt="Java" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg"/>
        <img class="skills__img" width="40" height="40" alt="Anaconda" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/anaconda/anaconda-original.svg"/>
        <img class="skills__img" width="40" height="40" alt="C" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg"/>
        <img class="skills__img" width="40" height="40" alt="PyTorch" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pytorch/pytorch-original.svg" />
        <img class="skills__img" width="40" height="40" alt="Unix/Bash" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bash/bash-original.svg" />
        <img class="skills__img" width="40" height="40" alt="Rstudio" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rstudio/rstudio-original.svg"/>
        <img class="skills__img" width="40" height="40" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
</Layout>

<style>
    .skills {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .skills__img {
        margin: 5px;
    }
    .gif {
        text-align: center;
    }
    h1 {
        text-align: left;
        font-family: 'Courier New', Courier, monospace; 
        /* margin-bottom: 1.5em;  */
    }
    h2 {
        text-align: left;
        font-family: Courier New, cursive; 
        margin-bottom: 1em; 
    }
    p {
        text-align: left;
        font-family: Josefin Sans, cursive; 
        margin-bottom: 1em; 
    }
    /*  p {
        text-align: left;
        font-family: Josefin Sans, sans serif; /* or any other font you prefer */
    } */
    .center {
        text-align: center;
    }
    /* .badge, .btn {
        display: block;
        margin: 10px auto;
        text-align: center;
    } */
    div {
        padding: 5px;
    }
</style>
