---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Music";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="250" src="/404.webp"/>
    </div>
    <h1>Music</h1>
    <p>Will be updated with some fun buttons.</p>
    <!-- Add more content about music here -->
</Layout>
