---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Music";
---
<Layout pageTitle={pageTitle}>
    <h1>Music</h1>
    <p>Dive into my passion for music, including favorite genres, artists, and personal playlists.</p>
    <!-- Add more content about music here -->
</Layout>
