---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Music";
---

<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="250" src="/404.webp"/>
    </div>
    
    <h1>Music</h1>
    <p>I don't like writing about music, so there will mostly just be links to songs 
        and playlists here and nothing else. Please send any recommendations you have ^_^</p>
    <p>Last Updated December 26, 2024</p>
    <div></div>

    <h3>Up Next:</h3>
    <p> I made this playlist this spring with a lot of shoegaze and dreampop albums I'm in the process of listening or relistening to
        and have started to work through it slowly. Diving into this genre and style over the past several years has been awesome
        and while I've heard many of the classics, there are so many other great records I need to get on!
    </p>
    <div> </div>    
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1mKXezS7NyJcrFFbf11k8Z?utm_source=generator" width="100%" height="400" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <div></div>
    <p> Another music goal of mine is to learn way more songs on guitar, I'm working on learning a lot of new songs and learning how to sing.
      AND I want to buy a record player + start a vinyl collection (hoping to do so as a PhD)! 
    </p>
    <div></div>

    <h3>Currently Listening To:</h3>
    <p>Pretty dichotomous - lots of indie/folk music, and then abstract hip-hop. Lots of new records, and some old. I feel like Some Rap Songs is the ultimate 'walking outside while it's cold' music.</p>
    <div> </div>    
    <div class="slideshow-container">
        <div class="mySlides">
            <div class="numbertext">1 / 4</div>
            <div></div>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/2Qt8Z1LB3Fsrf6nhBNsvUJ?utm_source=generator" width="100%" height="500" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </div>
        <div class="mySlides">
            <div class="numbertext">2 / 4</div>
            <div></div>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/66at85wgO2pu5CccvqUF6i?utm_source=generator" width="100%" height="500" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>        </div> 
        <div class="mySlides">
            <div class="numbertext">3 / 4</div>
            <div></div>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/1IN1QBfV9tNR6fFgR7PsUl?utm_source=generator" width="100%" height="500" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>        </div> 
        <div class="mySlides">
            <div class="numbertext">4 / 4</div>
            <div></div>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/7fA59NGyyUumdoTH3HmWav?utm_source=generator" width="100%" height="500" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>        </div>
    </div>
    <br>
    <div></div>

    <h3>Topster</h3>
    <p>
        Because 5 artists on Spotify Wrapped just wasn't enough for the annoying people community, we have this!
        I haven't actually made an updated topster in a long time (and it feels silly, since personal rankings in my head seem to change so often) so these are just my top albums sorted by playcount from 
        the last 6 months (back half of 2024). 
    </p>
    <p>
        <a href="https://www.last.fm/user/henrysun9074">Last.fm</a> (click)
    </p>
    <div class="center">
      <img src="chart.png" width="100%">
    </div>
    <br>
    <div></div>

    <h3> Best Of...</h3>
    <p>My personal 50 favorite songs from each year! Started 2022.</p>
    <div class="center">
    <iframe style=border-radius:12px" src="https://open.spotify.com/embed/playlist/1FeYCOPfF4g5dsXxttVXGU?utm_source=generatorr" width="80%" height="400" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <h4>2024 (how exciting!)</h4>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/2Y3cmHihUeSbTilzRVngIt?utm_source=generator" width="80%" height="400" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <h4>2023</h4>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5D93GuCz0CigdTje0MnR1V?utm_source=generator" width="80%" height="400" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <h4>2022</h4>
    </div>
</Layout>


-------------------------
<style>
* {box-sizing:border-box}
    p {
        text-align: left;
        font-family: 'Josefin Sans', cursive; 
        margin-bottom: 1em; 
    }
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 500px; 
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-family: Josefin Sans;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

</style>

<script>
var slideIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides") as HTMLCollectionOf<HTMLElement>;
    for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > x.length) {slideIndex = 1}
  x[slideIndex-1].style.display = "block";
  setTimeout(carousel, 5000); 
}

// var slideIndex = 1;

// function plusSlides(n: number) {
//   showSlides(slideIndex += n);
// }

// function showSlides(n: number) {
//   var i: number;
//   var slides = document.getElementsByClassName("mySlides") as HTMLCollectionOf<HTMLElement>;
// //   const dots = document.getElementsByClassName("dot") as HTMLCollectionOf<HTMLElement>;
//   if (n > slides.length) { slideIndex = 1 }
//   if (n < 1) { slideIndex = slides.length }
//   for (i = 0; i < slides.length; i++) {
//     slides[i].style.display = "none";
//   }
//   slides[slideIndex-1].style.display = "block";
// }

// document.addEventListener('DOMContentLoaded', () => {
//   showSlides(slideIndex);
// });
</script>
