---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Music";
---
<Layout pageTitle={pageTitle}>
    <h1>Music</h1>
    <p>Will be updated with some fun buttons.</p>
    <!-- Add more content about music here -->
</Layout>
