---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Outreach";
--- 
<Layout pageTitle={pageTitle}>

    <div class="gif">
        <img width="300" height="250" alt="RaccoonLaptopGif" src="/laptop.webp"/>
    </div>
        
    <p>Below are a few critical facets of science I attempt to stay involved in:</p>

    <h2>Outreach</h2>
        <p><b>Growing Equity in Science and Technology (GEST)</b>: <a href="https://sites.duke.edu/growingequityinscienceandtechnology/">GEST</a> is an annual outreach event hosted at the Duke University Marine Lab geared towards providing middle school students with STEM activities, knowledge, and access to role models (faculty, staff, etc.). 
        I serve on the planning committee for GEST, help to maintain the website and socials, and spearheaded the creation of the first GEST <a href="https://sites.duke.edu/growingequityinscienceandtechnology/current-edition/">newsletter</a>. 
 </p>
 <img width="500" src="/GEST.jpg"/>
 <h4>GEST 2025</h4>
        <p><b>SciREN Coast</b>: Held annually at the Pine Knoll Shores Aquarium, <a href ="https://sciren.org/sciren-coast/">SciREN Coast</a> connects researchers with local high school teachers to help develop curricula and classroom activities. Our booth, which discussed the use of technology, remote sensing, and AI in studying marine ecosystems, won runner-up! Slides <a href="https://www.canva.com/design/DAGid3OvCIQ/aKeKz2AOaezdFNQWhCYfqA/edit">here</a>. 
 </p>
 <img width="500" src="/SCIREN.jpg"/> <h4>Holly, Maia, and Tate with the prizes!</h4>


    <h2>Mentorship</h2>
        <p><b>Smartwhales</b>: Besides unofficial mentorship through the Duke Marine Lab, I’m fortunate to have gotten the chance to work with several undergraduates in 2024-25 as part of a ‘Smartwhales’ team investigating broader applications of generative AI in ecology. I now have the privilege of continuing to work with one of those students, <a href ="https://nicholas.duke.edu/marinelab/academics/undergraduate/bonaventura-summer-research-fellows-program">Max Niu</a>, on using AI-generated images to train detection models! Stay tuned for more.</p>
    <h2>Teaching</h2>
        <p><b>AI in Marine Science</b>: Hosted a <a href="https://nicholasinstitute.duke.edu/events/ai-and-applying-machine-learning-oceans-science">workshop</a> this year for Duke Oceans Week introducing AI and how it can be applied to marine science, replete with concepts, applications, and a coding demo. Slides from event available <a href="https://docs.google.com/presentation/d/1yG2Ro9LQljkMzhySYC7AxPC8I66gyIR0Q5OMxwG4uj4/edit?usp=drive_link">here</a>. 
</p>
        <p>I’m also very interested in exploring methods for leveraging generative AI in college teaching. Stay tuned for more info regarding this as future TA opportunities come along. 
</p>
        <p></p>
    <h2>Communications</h2>
    <p>Do me a favor and don't look too hard at the pictures/footage they used.</p>
    <p>September 2025: Article in <a href = "https://www.publicradioeast.org/2025-09-02/weird-science-n-c-researchers-using-ai-to-help-conserve-endangered-species-like-the-right-whale">Eastern NC Public Radio</a> about the fake whales.</p>
    <p>August 2025: Shiny new Duke Nicholas School <a href ="https://nicholas.duke.edu/news/deepfake-whales-could-be-key-conservation-tool">article</a> about our deepfake whales.</p>
    <p>May 2025: Some writing about a Marine Science/Conservation <a href="https://nicholas.duke.edu/news/nicholas-school-honors-undergraduates-demonstrating-academic-excellence">departmental award</a> conferred at graduation.</p>
    <p>April 2024: Featured in <a href ="https://www.youtube.com/watch?v=AKKkPDmeL-g&ab_channel=DukeUniversity">DUML Documentary</a> with now PhD advisor Juliet.</p>
    <img width="500" src="/Docphoto.jpg"/>
</Layout>
