---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Outreach";
--- 
<Layout pageTitle={pageTitle}>

    <div class="gif">
        <img width="300" height="250" alt="RaccoonLaptopGif" src="/laptop.webp"/>
    </div>
        
    <center><p><b>**Page under construction**</b></p></center>

    <p>Below are a few critical facets of science I attempt to stay involved in:</p>

    <h2>Outreach</h2>
        <p>GEST - Growing Equity in Science and Technology </p>
    <h2>Mentorship</h2>
        <p>Smartwhales Project Team - </p>
    <h2>Teaching</h2>
        <p>SciREN Coast - </p>
        <p>AI in Marine Science Workshop - </p>
        <p>GenAI in Teaching - </p>
        <p></p>
    <h2>Communications</h2>
    <p>Do me a favor and don't look too hard at the pictures/footage they used.</p>
    <p>May 2025: Some writing about a Marine Science/Conservation <a href="https://nicholas.duke.edu/news/nicholas-school-honors-undergraduates-demonstrating-academic-excellence">departmental award</a> conferred at graduation.</p>
    <p>April 2024: Featured in <a href ="https://www.youtube.com/watch?v=AKKkPDmeL-g&ab_channel=DukeUniversity">DUML Documentary</a> with now PhD advisor Juliet.</p>

</Layout>
