---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Outreach";
--- 
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="250" alt="RaccoonLaptopGif" src="/laptop.webp"/>
    </div>
    <p>Below are three critical facets of science I attempt to stay involved in:</p>
    <h2>Outreach</h2>
    <h2>Mentorship</h2>
    <h2>Teaching</h2>

</Layout>
