---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Posts";
--- 
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="250" alt="RaccoonLaptopGif" src="/blog.webp"/>
    </div>
    <h2>Who am I?</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="/basketball"
            image="/basketball2.jpg"
            title="Basketball" 
            body="Ethical hoops"
        />
        <Card
            url="/music"
            image="/music 3.jpg"
            title="Music"
            body="Take the blue pill"
        />
        <Card
            url="/animals"
            image="/animals.jpg"
            title="Animals"
            body="Cool animal finds"
        />
        <Card
            url="/cooking"
            image="/cooking.jpg"
            title="Cooking"
            body="Mostly Chinese food"
        />
    </ul>
</Layout>
