---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Posts";
--- 
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="250" alt="RaccoonLaptopGif" src="/blog.webp"/>
    </div>
    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="/basketball"
            image="/basketball.webp"
            title="Basketball"
            body="Ethical hoops"
        />
        <Card
            url="/music"
            image="/music.webp"
            title="Music"
            body="Current jams"
        />
        <Card
            url="/animals"
            image="/animals.webp"
            title="Animals"
            body="Cool animal finds"
        />
        <Card
            url="/cooking"
            image="/cooking.webp"
            title="Cooking"
            body="Chinese food?!"
        />
    </ul>
</Layout>
